body, html{
    background-image: url('https://t4.ftcdn.net/jpg/02/62/42/25/360_F_262422503_1WhaxCIRRItIfPp0StKxg9WvcXS5xg2o.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.box{
    max-width: 100vw;
    height: 100vh;
    margin: auto;

    padding: 0;
    text-align: center;
    
    align-items: center;
    
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 15vh auto 15vh;
    display: grid;
    
    grid-template-areas: 
    "   clock   header   header   navbar   "
    "   galleries   galleries   galleries   galleries   "
    "   .   .   .   footer   "
   
}


.galleries {
    grid-area: galleries;
    
    display: flex;
    justify-content: center; /* Center the galleries horizontally */
    gap: 20px; /* Space between gallery1 and gallery2 */
  }


.gallery1 {
    width: 50%;
    /* background-color: brown; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* Center images in the container */
  }
  
  .gallery1 img {
    flex: 1 1 200px; /* Grow, shrink, and set a base width of 150px */
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .gallery2{
    
    width: 50%;
    /* background-color: blueviolet; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .gallery2 img{
    flex: 1 1 200px;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    
  }


  header{
    padding: 0 2rem;
}



  .footer{
    color: azure;
    grid-area: footer;
    
    
}

.header{
    color: azure;
    grid-area: header;
}

a:hover {
    color: orange;
    font-weight: bold;
}

a{

    text-decoration: none;
    font-size: 1rem;
    color: azure;
}

#clock {
    grid-area: clock;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    padding: 10px;
    align-self: start;
    justify-self: start;
    background-color: rgba(255, 255, 255, 0.8); /* Optional styling */
    border-radius: 5px;
  }